<h1>About Bloccit</h1>
<div class="row">
    <div class="col-md-8">
       <p>Bloccit is a Reddit replica built on Ruby on Rails. It lets Users post, comment, and vote on content.
        I made it with the help of a mentor through the Bloc FullStack Web Development Apprenticeship.  </p> 
    </div>
</div>

