

<!-- Interactive Slider v2-->
<div class="interactive-slider-v2 img-v4">
	<div class="container">
		<h1>Welcome to Social News!</h1>
		<p> A social networking service. Share links and content with your friends!</p>
		<p>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
        </p>
	</div>
</div>
<!-- End Interactive Slider v2 -->


<!--=== Content Part ===-->
<div class="content-md">
	<div class="container">
		<!-- Service Box -->
		<div class="row text-center margin-bottom-60">
			<div class="col-md-4 md-margin-bottom-50">
				<img alt="" src="assets/img/icons/flat/01.png" class="image-md margin-bottom-20">
				<h1 class="title-v3-md margin-bottom-10">Stay Informed</h2>
                <p>Keep up with the latest internet news. See what your friends are talking about!</p>
			</div>
			<div class="col-md-4 flat-service md-margin-bottom-50">
				<img alt="" src="assets/img/icons/flat/03.png" class="image-md margin-bottom-20">
				<h2 class="title-v3-md margin-bottom-10">Share content</h2>
                <p>Create new topics, add posts & images, and make comments!</p>
			</div>
			<div class="col-md-4 flat-service">
				<img alt="" src="assets/img/icons/flat/02.png" class="image-md margin-bottom-20">
				<h2 class="title-v3-md margin-bottom-10">Vote on Favorites</h2>
                <p>Help rank the most interesting or relevant news by voting!</p>
			</div>
		</div>
		<!-- End Service Box -->
	</div><!--/container -->
<